:root {
    --post-desktop-max-width: 50vw;
}

body {
    background-color: #111;
}

.header {
    height: 20vh;
}

pre {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.back-button-container {
    padding-bottom: 5px;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    transition: background-color 0.1s;
}

.back-button {
    background-color: #111;
    border: 2px solid white;
    padding: 1vh 2vw;
    color: white;
    font: inherit;
    cursor: pointer;
    transition: background-color 0.1s;
    transition: transform 0.1s;
}

.back-button-container:hover {
    background-color: #111;
    transition: background-color 0.1s;
}

.back-button:hover {
    background-color: white;
    color: black;
    transform: translateY(5px);
    transition: background-color 0.1s;
    transition: transform 0.1s;
}

.post-section {
    background-color: #111;
    color: white;
    padding: 50px;
    text-align: center;
    min-height: 80vh;
}

p:has(> br) {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

blockquote {
    max-width: var(--post-desktop-max-width);
    margin: 0 auto !important;
    box-decoration-break: clone;
    display: flex;
}

p > code {
    overflow-wrap: break-word;
}

.copyright {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
    color: white;
}

.socials {
    margin-bottom: 2vh;
}

blockquote > p {
    font-size: 1.2rem !important;
    background-color: #333;
    padding-bottom: 1.5vh;
    padding-right: 1vw !important;
    padding-left: 0.5vw;
    width: fit-content;
    margin-left: 0 !important;

    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    gap: 1vw;
}

blockquote > p::before {
    content: "“";
    font-size: 3rem;
    color: #21b0fe;
}

.post-section h1 {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 4vh;
    margin-top: 4vh;
    max-width: var(--post-desktop-max-width);
}

.post-section h2 {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 4vh;
    margin-top: 4vh;
    max-width: var(--post-desktop-max-width);
}

.post-section p {
    font-size: 1.2rem;
    max-width: var(--post-desktop-max-width);
    margin: 0 auto;
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-right: 2vw;
}

.post-section details {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 auto;
    max-width: var(--post-desktop-max-width);
}

.post-section summary {
    margin-bottom: 1vh;
}

.post-section p>a {
    color: #21b0fe;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

@media (max-width: 768px) {
    blockquote {
        max-width: unset;
    }

    blockquote > p {
        max-width: unset;
        font-size: unset !important;
        padding-right: 2vw !important;
    }

    .post-section p {
        max-width: unset;
        font-size: unset;
    }

    .post-section details {
        max-width: unset;
        font-size: unset;
    }

    .highlight {
        max-width: unset;
        font-size: unset;
    }

    .post-section h1 {
        font-size: 2.5rem;
        margin: 0 auto;
        margin-top: 4vh;
        max-width: unset;
    }

    .post-section h3 {
        font-size: 1.7rem;
        text-align: left;
        margin-top: 4vh;
    }

    .post-section h2 {
        font-size: 2.5rem;
        margin-top: 4vh;
        max-width: unset;
    }

    .post {
        max-width: unset;
        text-wrap: wrap;
        text-align: left;
    }
}
