<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<script async src="/assets/js/post.js"></script>
<link rel="stylesheet" href="/assets/css/post.css">
<body>
    <div class="header">
        <div class="container">
            <div class="shapes">
                <div class="shapes-circle"></div>
                <div class="shapes-square"></div>
                <div class="shapes-triangle"></div>
            </div>
        </div>
    </div>

    <div class="post-section">
        <h1>{{ page.title }}</h2>

        <hr>

        {{ content }}
    </div>

    <hr>

    <p class="copyright">Ariel Simulevski &copy; 2024</p>

    {% include socials.html %}

    <br>
    
</body>
</html>
