<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<script async src="/assets/js/post.js"></script>
<link rel="stylesheet" href="/assets/css/post.css">
<body>
    <div class="header">
        <div class="container">
            <div class="shapes">
                <div class="shapes-circle"></div>
                <div class="shapes-square"></div>
                <div class="shapes-triangle"></div>
            </div>
        </div>
    </div>

    <div class="post-section">
        <div class="back-button-container">
            <button class="back-button">simulevski.at</button>
        </div>
        
        <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>

        <hr>

        {{ content }}
    </div>

    <hr>

    <p class="copyright">Ariel Simulevski &copy; 2024</p>

    {% include socials.html %}

    <br>
    
</body>
</html>
